@import "tailwindcss";

@theme inline {

  /*fonts */
  --font-Outfit: var(--next-outfit), sans-serif;
  --font-Ovo: var(--next-ovo), serif;

    /*colors */
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  /*box shadows*/
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  /*grid template columns */
  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr))

}

body {
  font-family: var(--font-Outfit);
}
